@font-face {
    font-family: "tokyo";
    src: url(/assets/Japanese3017-Eljn.ttf);
}

@font-face {
    font-family: "brush";
    src: url(/assets/Good\ Brush.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", serif;
}

body {
    background-image: url(/assets/japan-city-street-night-wallpaper.jpg);
    background-size: cover;
}

.navbar {
    background: #070f2b;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #606096;
    z-index: 10000;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: #000000;
    background-image: linear-gradient(to top, #bfc3d5 0%, #24216e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: "tokyo";
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_items {
    height: 80px;
}

.navbar_links {
    color: #9290c3;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    height: 100%;
    transition: 0.3s;
}

.navbar_links:hover {
    color: #ffffff;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #535c91;
    color: #070f2b;
    transition: 0.3s;
}

.button:hover {
    color: #ffffff;
    background: #1b1a55;
}

.title {
    font-family: "brush";
    text-align: center;
    margin: 20px auto;
    color: #ffffff;
}

.container {
    max-width: 750px;
    margin: 20px auto;
    border: #606096 2px solid;
    background-color: #606096;
    opacity: 0.8;
    background: radial-gradient(
            50% 50% at 100% 0,
            #1d1d2e 0% 5%,
            #070f2b 6% 15%,
            #1d1d2e 16% 25%,
            #070f2b 26% 35%,
            #1d1d2e 36% 45%,
            #070f2b 46% 55%,
            #1d1d2e 56% 65%,
            #070f2b 66% 75%,
            #1d1d2e 76% 85%,
            #070f2b 86% 95%,
            #0000 96%
        ),
        radial-gradient(
            50% 50% at 0 100%,
            #1d1d2e 0% 5%,
            #070f2b 6% 15%,
            #1d1d2e 16% 25%,
            #070f2b 26% 35%,
            #1d1d2e 36% 45%,
            #070f2b 46% 55%,
            #1d1d2e 56% 65%,
            #070f2b 66% 75%,
            #1d1d2e 76% 85%,
            #070f2b 86% 95%,
            #0000 96%
        ),
        radial-gradient(
            50% 50%,
            #1d1d2e 0% 5%,
            #070f2b 6% 15%,
            #1d1d2e 16% 25%,
            #070f2b 26% 35%,
            #1d1d2e 36% 45%,
            #070f2b 46% 55%,
            #1d1d2e 56% 65%,
            #070f2b 66% 75%,
            #1d1d2e 76% 85%,
            #070f2b 86% 95%,
            #0000 96%
        ),
        radial-gradient(
                50% 50%,
                #1d1d2e 0% 5%,
                #070f2b 6% 15%,
                #1d1d2e 16% 25%,
                #070f2b 26% 35%,
                #1d1d2e 36% 45%,
                #070f2b 46% 55%,
                #1d1d2e 56% 65%,
                #070f2b 66% 75%,
                #1d1d2e 76% 85%,
                #070f2b 86% 95%,
                #0000 96%
            )
            30px 30px;
    background-size: 60px 60px;
    background-color: #1d1d2e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.terms-label {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.terms-label input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #606096;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms-label input[type="checkbox"]:checked {
    background-color: #606096;
    border-color: #606096;
}

.terms-label input[type="checkbox"]:checked::before {
    content: "✔";
    color: #fff;
    font-size: 14px;
}

.terms-label a {
    color: #a8a8db;
    text-decoration: none;
    margin-left: 5px;
}

.terms-label a:hover {
    text-decoration: underline;
}

form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.desc {
    color: #ffffff;
    text-align: center;
}

#submit {
    background-color: #a3a3e4;
    border: none;
    border-radius: 5px;
    margin: auto;
    font-size: 1.2rem;
    width: fit-content;
    padding: 10px;
    color: #000000;
    transition: 0.3s ease;
}

#submit:hover {
    color: #ffffff;
    background-color: #070f2b;
}

.container {
    flex: 1;
}

.footer {
    background-color: #070f2b;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: #606096 3px solid;
}

.footer_container {
    max-width: 800px;
    margin: 0 auto;
}

.footer_links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer_links li {
    display: inline;
}

.footer_links a {
    color: #ffffff;
    text-decoration: none;
}

.footer_links a:hover {
    text-decoration: underline;
}
